*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg, #8500ff, #5acaff);
    height: 100vh;
}
#container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../Assets/404.png'), #151729;
    box-shadow: 0 15px 30px rgba(0,0,0,.5);
}
#container .content{
    max-width: 600px;
    text-align: center;
}
#container .content h2{
    font-size: 18vw;
    color: #fff;
    line-height: 1em;
    cursor: default;
}
#container .content h4 {
    position: relative;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #111;
    background: #fff;
    font-weight: 300;
    padding: 10px 20px;
    display: inline-block;
    cursor: default;
}
#container .content p {
    color: #fff;
    font-size: 1.2em;
    cursor: default;
}
#container .content a{
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    background: #ff0562;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    border-radius: 25px;
    border-bottom: 4px solid #d00d56;
    cursor: pointer;
}
#contex-menu{
    position: absolute;
    z-index: 10;
    width: 150px;
    background: var(--secondary-color);
    transform: scale(0);
    transform-origin: top left;
    border: solid var(--primary-color);
    outline: solid var(--secondary-color);
}
#contex-menu.active{
    transform: scale(1);
}
#contex-menu .item{
    padding: 8px 10px;
    font-size: 15px;
    color: var(--primary-color);
}
#contex-menu .item:hover{
    background: var(--hvr-color);
}
#contex-menu .item button{
    border: none;
    outline: none;
    background: transparent;
}
#contex-menu .item i{
    display: inline-block;
    margin-right: 5px;
}