@import "https://fonts.googleapis.com/css?family=ABeeZee";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background 1.5s ease-in;
    font-family: 'ABeeZee';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root{
    --primary-color: #fdfdfd;
    --secondary-color: #212121;
    --nav-color: #ff4321;
    --fixed-color: #fff;
}
.darkmode {
    --primary-color: #121212;
    --secondary-color: #fdfdfd;
    --fixed-color: #fff;
}
/* NavBar */

#navbar{
    width: 100%;
    background: var(--primary-color);
    font-family: sans-serif;
    position: relative;
}

nav{
    width: 84%;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: auto;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li .active{
    border:  0.125em var(--nav-color) solid;
    border-radius: 12px;
    color: var(--secondary-color);
    padding: 0.50em 0.5em;
}
nav ul li .active:hover{
    background-color: var(--nav-color);
    color: var(--secondary-color);
}
nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}
nav ul li a:hover{
    color: var(--nav-color);
}

.dark-mode-toggle{
    top: 1em;
    right: 1em;
    color: var(--secondary-color);
    border: 2px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

/* Contacts */

.contact{
    background: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content {
    max-width: 800px;
    text-align: center;
}
.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: var(--secondary-color);
    text-shadow: 0 0 0.125em var(--secondary-color), 0 0 0.45em currentColor;
}
.contact .content p {
    font-weight: 500;
}
.paras{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.paras .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.paras .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.paras .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.paras .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.paras .contactInfo .box .text h3{
    font-weight: 500;
    padding-left: 40px;
    margin-bottom: 5px;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background-color: var(--primary-color);
}
.contactForm h2 {
    font-size: 30px;
    font-weight: 500;
    color: var(--secondary-color);
}
.contactForm .inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
    /* color: var(--secondary-color);  */
}
.contactForm .inputbox .neon-button{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    color: var(--primary-color);
    border: var(--secondary-color) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.377), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--secondary-color), 0 0 0.5em 0 var(--secondary-color);
    position: relative;
}
.contactForm .inputbox .neon-button::before{
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--secondary-color); /* cant touch */
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}
.contactForm .inputbox .neon-button::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--secondary-color);
    opacity: 0;
    background-color: var(--primary-color);
    z-index: -1;
    transition: opacity 100ms linear;
}
.contactForm .inputbox .neon-button:hover,
.contactForm .inputbox .neon-button:focus{
    color: var(--primary-color);
    transition: 0.7s ease-out;
    text-shadow: none;
}
.contactForm .inputbox .neon-button:hover::before,
.contactForm .inputbox .neon-button:focus::before {
    opacity: 1;
}
.contactForm .inputbox .neon-button:hover::after,
.contactForm .inputbox .neon-button:focus::after {
  opacity: 1;
}
.contactForm .inputbox input,
.contactForm .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    background: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    outline: none;
    resize: none;
}
.contactForm .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span,     
.contactForm .inputbox textarea:focus ~ span,
.contactForm .inputbox textarea:valid ~ span {
    color: #e91e61;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputbox button{
    width: 100px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 991px){
    .contact {
        padding: 50px;
    }
    .paras {
        flex-direction: column;
    }
    .paras .contactInfo {
        margin-bottom: 40px;
    }
    .paras .contactInfo,
    .contactForm {
        width: 100%;
    }
}
/* Footer Section */
.footer{
    background: #24262b;
    padding: 30px 0;
}
.container{
    max-width: 1170px;
    margin: auto;
    position: relative;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col-1 {
    width: 25%;
    padding: 0 15px;
}
.footer-col-1 h4 a{
    font-size: 18px;
    color: var(--fixed-color);
    text-decoration: none;
}
.footer-col-1 p {
    color: var(--fixed-color);
    font-size: 14px;
}
.footer-col-2 ul {
    list-style: none;
    width: 25%;
    padding: 0 15px;
    display: inline;
    margin-bottom: 3px;
}
.footer-col-2 ul li {
    margin-bottom: 5px;
    
}
.footer-col-2 ul li a{
    color: var(--fixed-color);
    text-decoration: none;
}
.footer-col-2 ul li a:hover {
    color: #ff4321;
    text-decoration: underline;
}
.footer-col-2 h4 {
    font-size: 18px;
    color: var(--fixed-color);
}
.qr img{
    height: 100px;
    width: auto;
    padding-left: 655px;
}
.qr p{
    color: var(--fixed-color);
    font-size: 16px;
    padding-left: 655px;
}
.license{
    position: absolute;
    padding-left: 13px;
    bottom: 35px;
}