@import "https://fonts.googleapis.com/css?family=ABeeZee";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background 0.5s ease-in-out;
    font-family: 'ABeeZee';
}

:root{
    --primary-color: #fdfdfd;
    --secondary-color: #212121;
    --nav-color: #ff4321;
    --fixed-color: #fff;
    --hvr-color: #494949;
}
.darkmode{
    --primary-color: #212121;
    --secondary-color: #fdfdfd;
    --fixed-color: #fff;
    --hvr-color: #d1d1d1;
}
.deep{
    background: var(--secondary-color);
    padding: 0.5rem 1.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
    position: absolute;
    left: .5rem;
    transform: translateY(-120%);
    transition: transform 325ms ease-in;
    text-decoration: none;
    color: var(--primary-color);
}
.deep:focus{
    transform: translateY(0);
}
#navbar{
    height: 100vh;
    width: 100%;
    background: var(--primary-color);
    font-family: sans-serif;
    position: relative;
}

nav{
    width: 84%;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: auto;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li .active{
    border:  2px var(--nav-color) solid;
    color: var(--secondary-color);
    border-radius: 12px;
    padding: 15px 5px;
    margin-left: -15px;
}
nav ul li .active:hover{
    background-color: var(--nav-color);
    color: var(--secondary-color);
}
nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}
nav ul li a:hover{
    color: var(--nav-color);
    transition: 0.5s ease-in-out; 
}

.dark-mode-toggle{
    top: 1em;
    right: 1em;
    color: var(--secondary-color);
    border: 0px;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    width: 30px;
    height: 30px;
    outline: none;
}

#contex-menu{
    position: absolute;
    z-index: 10;
    width: 150px;
    background: var(--secondary-color);
    transform: scale(0);
    transform-origin: top left;
    border: solid var(--primary-color);
    outline: solid var(--secondary-color);
}
#contex-menu.active{
    transform: scale(1);
}
#contex-menu .item{
    padding: 8px 10px;
    font-size: 15px;
    color: var(--primary-color);
}
#contex-menu .item:hover{
    background: var(--hvr-color);
}
#contex-menu .item i{
    display: inline-block;
    margin-right: 5px;
}
.footer{
    background: #24262b;
    padding: 30px 0;
}
.container{
    max-width: 1170px;
    margin: auto;
    position: relative;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col-1 {
    width: 25%;
    padding: 0 15px;
}
.footer-col-1 h4 a{
    font-size: 18px;
    color: var(--fixed-color);
    text-decoration: none;
}
.footer-col-1 p {
    color: var(--fixed-color);
    font-size: 14px;
}
.footer-col-2 ul {
    list-style: none;
    width: 25%;
    padding: 0 15px;
    display: inline;
    margin-bottom: 3px;
}
.footer-col-2 ul li {
    margin-bottom: 5px;
    
}
.footer-col-2 ul li a{
    color: var(--fixed-color);
    text-decoration: none;
}
.footer-col-2 ul li a:hover {
    color: var(--nav-color);
    text-decoration: none;
}
.footer-col-2 h4 {
    font-size: 18px;
    color: var(--fixed-color);
}
.qr img{
    height: 100px;
    width: auto;
    padding-left: 655px;
}
.qr p{
    color: var(--fixed-color);
    font-size: 16px;
    padding-left: 655px;
}
.license{
    position: absolute;
    padding-left: 13px;
    bottom: 35px;
}