@import "https://fonts.googleapis.com/css?family=ABeeZee";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background 0.5s ease-in-out;
    font-family: 'ABeeZee';
}

:root {
    --primary-color: #fdfdfd;
    --secondary-color: #212121;
    --nav-color: #ff4321;
    --fixed-color: #fff;
    --loader-color: rgba(216, 198, 198, 0.514);
    --hvr-color: #494949;
}
.darkmode {
    --primary-color: #212121;
    --secondary-color: #fdfdfd;
    --fixed-color: #fff;
    --hvr-color: #d1d1d1;
}

/* preloader */
.loader{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--loader-color);
    
}
.percent{
    color:var(--fixed-color);
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    top: 30%;
}
.text{
    position: absolute;
    left: 160px;
    color: #fdb5ca;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 21px;
    display: none;
}
.text-blink{
    animation: blink .7s ease-in-out .1s;
}
@keyframes blink{
    0%{
        opacity: 1;

    }
    50%{
        opacity: .2;

    }
    100%{
        opacity: 1;

    }
}
.progress-bar{
    width: 406px;
    height: 21px;
    background: #111;
    border-radius: 13px;
    padding: 3px;
    box-sizing: border-box;
    position: relative;
    top: 30%;
    left: 34.5%;
}
.progress{
    width: 200px;
    height: 15px;
    background: var(--nav-color);
    border-radius: 13px;
    position: relative;
}
/* end preloader */


.deep {
    background: var(--secondary-color);
    padding: 0.5rem 1.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
    position: absolute;
    left: .5rem;
    transform: translateY(-120%);
    transition: transform 325ms ease-in;
    text-decoration: none;
    color: var(--primary-color);
}

.deep:focus {
    transform: translateY(0);
}

#navbar {
    height: 150vh;
    width: 100%;
    background: var(--primary-color);
    font-family: sans-serif;
    position: relative;
}

nav {
    width: 84%;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-top: 5px;
    width: 50px;
    height: auto;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li .active {
    border: 2px var(--nav-color) solid;
    color: var(--secondary-color);
    border-radius: 12px;
    padding: 15px 5px;
    margin-left: -15px;
}

nav ul li .active:hover {
    background-color: var(--nav-color);
    color: var(--secondary-color);
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

nav ul li a:hover {
    color: var(--nav-color);
    transition: 0.5s ease-in-out;
}

.dark-mode-toggle {
    top: 1em;
    right: 1em;
    color: var(--secondary-color);
    border: 0px;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    width: 30px;
    height: 30px;
    outline: none;
}

#contex-menu {
    position: absolute;
    z-index: 10;
    width: 150px;
    background: var(--secondary-color);
    transform: scale(0);
    transform-origin: top left;
    border: solid var(--primary-color);
    outline: solid var(--secondary-color);
}

#contex-menu.active {
    transform: scale(1);
}

#contex-menu .item {
    padding: 8px 10px;
    font-size: 15px;

}

#contex-menu .item:hover {
    background: var(--hvr-color);
}

#contex-menu .item button {
    border: none;
    outline: none;
    background: transparent;
    color: var(--primary-color)
}

#contex-menu .item i {
    display: inline-block;
    margin-right: 5px;
}

.card {
    position: absolute;
    width: 360px;
    min-height: 400px;
    background-color: var(--primary-color);
    box-shadow: 15px 15px 60px var(--secondary-color);
    margin-left: 25px;
    top: 200px;
    padding: 20px;
}

.card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .top .userDetails {
    display: flex;
    align-items: center;
}

.card .top .userDetails .profile_img {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .top .userDetails h3 {
    /* font-family: ; */
    font-size: 16px;
    color: var(--secondary-color);
    font-weight: 500;
    line-height: 1em;
}

.dot {
    transform: scale(0.6);
    cursor: pointer;
    fill: var(--secondary-color);
}

.card h2 {
    color: var(--secondary-color);
    font-size: medium;
    margin-top: 20px;
}

.imgBx {
    position: relative;
    width: 100%;
    height: 200px;
    margin: 10px 0 15px;
}

.download {
    background-color: var(--nav-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
    padding: 20px 0px 25px;
    text-decoration: none;
    display: inline-block;
    border: none;
    width: 50%;
    color: var(--primary-color);
}

.alter {
    background-color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
    padding: 20px 10px 25px;
    margin-left: 5px;
    text-decoration: none;
    border: none;
    width: 50%;
    color: var(--fixed-color);
}

.footer {
    background: #24262b;
    padding: 30px 0;
}

.container {
    max-width: 1170px;
    margin: auto;
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col-1 {
    width: 25%;
    padding: 0 15px;
}

.footer-col-1 h4 a {
    font-size: 18px;
    color: var(--fixed-color);
    text-decoration: none;
}

.footer-col-1 p {
    color: var(--fixed-color);
    font-size: 14px;
}

.footer-col-2 ul {
    list-style: none;
    width: 25%;
    padding: 0 15px;
    display: inline;
    margin-bottom: 3px;
}

.footer-col-2 ul li {
    margin-bottom: 5px;

}

.footer-col-2 ul li a {
    color: var(--fixed-color);
    text-decoration: none;
}

.footer-col-2 ul li a:hover {
    color: var(--nav-color);
    text-decoration: none;
}

.footer-col-2 h4 {
    font-size: 18px;
    color: var(--fixed-color);
}

.qr img {
    height: 100px;
    width: auto;
    padding-left: 655px;
}

.qr p {
    color: var(--fixed-color);
    font-size: 16px;
    padding-left: 655px;
}

.license {
    position: absolute;
    padding-left: 13px;
    bottom: 35px;
}