@import "https://fonts.googleapis.com/css?family=ABeeZee";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background 0.5s ease-in-out;
    font-family: 'ABeeZee';
}
body{
    font-family: 'ABeeZee';
}

:root {
    --primary-color: #fdfdfd;
    --secondary-color: #212121;
    --nav-color: #ff4321;
    --fixed-color: #fff;
    --loader-color: rgba(216, 198, 198, 0.514);
    --hvr-color: #494949;
}

.darkmode {
    --primary-color: #212121;
    --secondary-color: #fdfdfd;
    --fixed-color: #fff;
    --hvr-color: #d1d1d1;
}

/* preloader */
.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--loader-color);

}

.percent {
    color: var(--fixed-color);
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    top: 30%;
}

.text {
    position: absolute;
    left: 160px;
    color: #fdb5ca;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 21px;
    display: none;
}

.text-blink {
    animation: blink .7s ease-in-out .1s;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}

.progress-bar {
    width: 406px;
    height: 21px;
    background: #111;
    border-radius: 13px;
    padding: 3px;
    box-sizing: border-box;
    position: relative;
    top: 30%;
    left: 34.5%;
}

.progress {
    width: 200px;
    height: 15px;
    background: var(--nav-color);
    border-radius: 13px;
    position: relative;
}

/* end preloader */


.deep {
    background: var(--secondary-color);
    padding: 0.5rem 1.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
    position: absolute;
    left: .5rem;
    transform: translateY(-120%);
    transition: transform 325ms ease-in;
    text-decoration: none;
    color: var(--primary-color);
}

.deep:focus {
    transform: translateY(0);
}

#navbar {
    height: 8.5vh;
    width: 100%;
    background: var(--primary-color);
    position: relative;
}

nav {
    width: 84%;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-top: 5px;
    width: 50px;
    height: auto;
    cursor: pointer;
}

.navigation p {
    position: absolute;
    color: var(--secondary-color);
    right: 1030px;
    font-size: 30px;
    font-weight: bolder;
    text-transform: capitalize;
}

.navigation ul {
    flex: 1;
    text-align: right;
}

.navigation ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

.navigation ul li a:hover {
    color: var(--nav-color);
    transition: 0.5s ease-in-out;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

.dark-mode-toggle {
    top: 1em;
    right: 1em;
    color: var(--secondary-color);
    border: 0px;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    width: 30px;
    height: 30px;
    outline: none;
}

#contex-menu {
    position: absolute;
    z-index: 10;
    width: 150px;
    background: var(--secondary-color);
    transform: scale(0);
    transform-origin: top left;
    border: solid var(--primary-color);
    outline: solid var(--secondary-color);
}

#contex-menu.active {
    transform: scale(1);
}

#contex-menu .item {
    padding: 8px 10px;
    font-size: 15px;

}

#contex-menu .item:hover {
    background: var(--hvr-color);
}

#contex-menu .item button {
    border: none;
    outline: none;
    background: transparent;
    color: var(--primary-color)
}

#contex-menu .item i {
    display: inline-block;
    margin-right: 5px;
}


.footer {
    background: #24262b;
    padding: 30px 0;
}

.container {
    max-width: 1170px;
    margin: auto;
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col-1 {
    width: 25%;
    padding: 0 15px;
}

.footer-col-1 h4 a {
    font-size: 18px;
    color: var(--fixed-color);
    text-decoration: none;
}

.footer-col-1 p {
    color: var(--fixed-color);
    font-size: 14px;
}

.footer-col-2 ul {
    list-style: none;
    width: 25%;
    padding: 0 15px;
    display: inline;
    margin-bottom: 3px;
}

.footer-col-2 ul li {
    margin-bottom: 5px;

}

.footer-col-2 ul li a {
    color: var(--fixed-color);
    text-decoration: none;
}

.footer-col-2 ul li a:hover {
    color: var(--nav-color);
    text-decoration: none;
}

.footer-col-2 h4 {
    font-size: 18px;
    color: var(--fixed-color);
}

.license {
    position: absolute;
    padding-left: 13px;
    bottom: 35px;
}

/* Article Pg 1 */
.page1 {
    background: var(--primary-color);
    height: 420px;
}

#page2 {
    background: var(--primary-color);
    height: 420px;
}

/* Contract Form */
#page3{
    background: var(--primary-color);
    height: 420px;
}
