@import "https://fonts.googleapis.com/css?family=ABeeZee";
*{
    margin: 0;
    /* padding: 0; */
    font-family: 'ABeeZee';
}
#canvas{
    width: 800;
    height: 800;
    position: fixed;
}
#contex-menu{
    position: absolute;
    z-index: 10;
    width: 150px;
    background: var(--secondary-color);
    transform: scale(0);
    transform-origin: top left;
    border: solid var(--primary-color);
    outline: solid var(--secondary-color);
}
#contex-menu.active{
    transform: scale(1);
}
#contex-menu .item{
    padding: 8px 10px;
    font-size: 15px;
    color: var(--primary-color);
}
#contex-menu .item:hover{
    background: var(--hvr-color);
}
#contex-menu .item button{
    border: none;
    outline: none;
    background: transparent;
}
#contex-menu .item i{
    display: inline-block;
    margin-right: 5px;
}